@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@300;400;500;600;700&display=swap');


/* On applique la police partout */
body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #FAFAFA; 
  margin: 0;
}

:root {
  /* --- Définition des variables de couleurs --- */
  --m2l-red:       #CC4040;  /* Rouge principal */
  --m2l-dark-red:  #430000;  /* Bordeaux sombre */
  --m2l-grey:      #ADABAB;  /* Gris argenté */
  --m2l-white:     #FFFFFF;  /* Blanc */
}

.bg-m2l-red {
  background-color: var(--m2l-red) !important;
}

.bg-m2l-dark {
  background-color: var(--m2l-dark-red) !important;
}

.bg-m2l-grey {
  background-color: var(--m2l-grey) !important;
}

.bg-m2l-white {
  background-color: var(--m2l-white) !important;
}


::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Scrollbar styles (si pas déjà dans index.css) */
.custom-scroll::-webkit-scrollbar { width: 6px; }
.custom-scroll::-webkit-scrollbar-track { background: transparent; }
.custom-scroll::-webkit-scrollbar-thumb { background: #d1d1d1; border-radius: 10px; }
.custom-scroll::-webkit-scrollbar-thumb:hover { background: #848181; }