@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@300;400;500;600;700&display=swap');


/* On applique la police partout */
body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #FAFAFA; 
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}